/* starting the size of media queries here.. */
/* bigscreen */

@media (min-width:1300px) and (max-width: 1440px){

body{
margin: 0 auto;
padding: 0;
}

.header{
max-height: 7rem;
height: 6.5rem;
}
.hero-image{
max-height: 100vh;
height: 70vh;
}
.nav__list a{
font-size: 14px;

}

.cover-image{
    height: 70vh;
}

.nav__list li{
font-size: 1em;
}

.text-header p{
font-size: 2rem ;
margin-top: 30px;
}

.btn{
max-width: 12rem ;
max-height: 3.5rem;

width: 11rem;
height: 3rem;
}

/* products */


.products{
margin: 0 auto;
padding: 0;

}

#pro-cards{
max-height: 100vh;
height: 90vh;
padding: auto;
margin: 0 auto;
max-width: 100%;
}

#pro-cards p{
margin-top: 10px;

}
#row-card{
margin: 0 auto;
padding: 0;
}

.p-title{
font-size: 2rem;
}

footer{
max-height: 50vh;
height: 50vh;
}


}

/* tablet */
@media (max-width: 1024px){

.hero-image{
max-height: 70vh;
height: 65vh;
}
.text-header p{
    margin-top: 25px;
}
.row{
height: 60%;
}

.icon-boxes{
height: 50vh;
width: auto;
padding: 0 ;
margin: 0 auto;

}
.icon-box{
margin: 0 auto;
}
footer{
max-height: 50vh;
height: 50vh;
}
}



/* @media (max-width: 600px){

    .header__toggle{
        font-size: 1.5rem;
        color: var(--dark-color-alt);
        cursor: pointer;
    }

    .hero-image{
        height: 75vh;
        max-height: 100vh;
    }
    .cover-image{
        height: 76vh;
    }
    .header__logo{
      text-decoration: none;
    }

    .text-header{
       height: 75vh;
       padding: 0;
       margin: 0 auto;
    }

    .text-header p{
        font-size: 28px;
        margin-top: 200px;
    }
    .text-header a{
        margin-bottom: 150px;
    }
    #boxes-row{
        height: 180%;
        padding: 5%;
    }

    .icon-boxes{
        height: 50vh;
    }

    .icon-box{
       margin: 0 auto;
       
    }

    .section .aboutus{
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
    }

    .aboutus .col{
        flex: 1 1 100%;
    }

    .touchmenot{
        height: 50vh;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
       text-align: center;
       flex-direction: column;
       display: flex;
    }

    #input-form{
        width: 150%;

    }

    .touchmenot button{
        width: 100%;
        margin-top: 12px;
    }

    footer{
        max-height: 60vh;
        height: 50vh;
    }

    .footer-logo{
        width: 100%;
        height: 13vh;
       margin-bottom: 20px;
        padding: 0;
    }

    .footer-logo img{
        height: 130%;
        width: 50%;
    }
} */