/* starting the size of media queries here.. */
/* bigscreen */

@media (min-width: 1300px) and (max-width: 1440px) {
  body {
    margin: 0 auto;
    padding: 0;
  }

  .header {
    max-height: 7rem;
    height: 6.5rem;
  }
  .hero-image {
    max-height: 100vh;
    height: 70vh;
  }
  .nav__list a {
    font-size: 14px;
  }

  .cover-image {
    height: 70vh;
  }

  .nav__list li {
    font-size: 1em;
  }

  .text-header p {
    font-size: 2rem;
    margin-top: 30px;
  }

  .btn {
    max-width: 12rem;
    max-height: 3.5rem;

    width: 11rem;
    height: 3rem;
  }

  /* products */

  .products {
    margin: 0 auto;
    padding: 0;
  }

  #pro-cards {
    max-height: 100vh;
    height: 90vh;
    padding: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  #pro-cards p {
    margin-top: 10px;
  }
  #row-card {
    margin: 0 auto;
    padding: 0;
  }

  .p-title {
    font-size: 2rem;
  }

  footer {
    max-height: 50vh;
    height: 50vh;
  }
}

/* tablet */
@media (max-width: 1024px) {
  .hero-image {
    max-height: 70vh;
    height: 65vh;
  }
  .text-header p {
    margin-top: 25px;
  }
  .row {
    height: 60%;
  }

  .icon-boxes {
    height: 50vh;
    width: auto;
    padding: 0;
    margin: 0 auto;
  }
  .icon-box {
    margin: 0 auto;
  }
  footer {
    max-height: 50vh;
    height: 50vh;
  }
}

@media (max-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  /* navigation css */
  .header__toggle {
    display: block;
  }
  .nav {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%); /* Hidden off-screen */
    transition: transform 0.3s ease;
  }

  .nav.active {
    display: block;
    transform: translateX(0); /* Slide in from the left */
    width: 100%;
  }

  .nav__menu {
    display: flex; /* Ensure the menu uses flexbox */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; /* Keep it aligned */
    top: 0;
    left: 0;
    background-color: #333; /* Make sure the background matches the sidebar */
    width: 100%;
    height: 100vh;
  }

  .nav__content {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .nav__close {
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav.hidden .nav__close {
    transform: translateY(-20px);
  }

  ion-icon {
    display: inline-block;
  }

  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__perfil img {
    display: none;
  }

  .header__logo img {
    display: block;
    width: 215px;
    height: 100px;
    visibility: visible;
    opacity: 1;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
  }

  .nav__list li.active a {
    color: #fc5e09;
    font-weight: bold;
  }

  .nav__item {
    margin: 0 0.25rem;
  }

  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .active {
    color: var(--first-color);
  }
  .header__toggle {
    font-size: 2rem;
    color: var(--dark-color-alt);
    cursor: pointer;
    display: block;
  }

  .hero-image {
    height: 75vh;
    max-height: 100vh;
  }

  .cover-image {
    height: 76vh;
  }

  .text-header {
    height: 75vh;
    padding: 0;
    margin: 0 auto;
  }

  .text-header p {
    font-size: 28px;
    margin-top: 200px;
  }
  .text-header a {
    margin-bottom: 150px;
  }

  .section .aboutus {
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
  }

  .aboutus .col {
    flex: 1 1 100%;
  }

  .touchmenot {
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    display: flex;
  }

  #input-form {
    width: 150%;
  }

  .touchmenot button {
    width: 100%;
    margin-top: 12px;
  }

  footer {
    max-height: 60vh;
    height: 50vh;
  }

  .footer-logo {
    width: 100%;
    height: 13vh;
    margin-bottom: 20px;
    padding: 0;
  }

  .footer-logo img {
    height: 130%;
    width: 50%;
  }
}
