@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   /* Colors */

   --body-colors:#E4E9F7 ;
   --sidebar-colors: #fff; 
   --primary-colors: #695cfe; 
   --primary-colors-light: #f6f5ff; 
   --toggle-color: #ddd; 
   --text-colors: #707070; 

   /* Transition */

   --tran-03: all 0.2s ease;
   --tran-03: all 0.3s ease;
   --tran-04: all 0.4s ease;
   --tran-05: all 0.5s ease;

}

body{
   height: 100vh;
   background: var(--body-colors);
}

 /* resuable css */

 .sidebar .text{
   font-size: 16px;
   font-weight: 500;
   color: var(--text-colors);
 }

 .sidebar .image{
   min-width: 60px;
   display: flex;
   align-items: center;
 }

/* sidebar */

.sidebar{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 250px;
   padding: 10px 14px;
   background: var(--sidebar-colors);

}

.sidebar .iamge-text img{
   width: 40px;
   border-radius: 6px;


}

.sidebar header .iamge-text{
   display: flex;
   align-items: center;
}

header .iamge-text .header-text{
   display: flex;
   flex-direction: column;
}

.header-text .name{
   font-weight: 600;
}

.header-text .profession{
   margin-top:-2px;
}

.sidebar header .toggle{
   position: absolute;
   top: 50px;
   right: -25px;
   transform: translate(-50%);
   height: 25px;
   width: 25px;
   background-color: var(--primary-colors);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--sidebar-colors);
   font-size: 22px;
}